<h2>Pizza</h2>

<div class="row">

	<% @products.each do |p| %>
		<div class="col-md-3">
			<div>
				<p><b><%= p.title %></b></p> 
			</div>
			<div>
				<img src="<%= p.path_to_image %> "/>
			</div>
			<div>
				<p><%= p.description %></p>
			</div>


		</div>
	<% end %>

</div>
<br>
<br> 
<br> 
<button class="btn btn-primary" onclick="something()">Click me!</button>